<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sharding.jdbc.dbconf.mapper.AppBillInstallMapper">
  <resultMap id="BaseResultMap" type="sharding.jdbc.dbconf.pojo.AppBillInstall">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="case_id" jdbcType="VARCHAR" property="caseId" />
    <result column="cardnbr" jdbcType="VARCHAR" property="cardnbr" />
    <result column="staff_id" jdbcType="VARCHAR" property="staffId" />
    <result column="apply_amount" jdbcType="DECIMAL" property="applyAmount" />
    <result column="install_number" jdbcType="INTEGER" property="installNumber" />
    <result column="procedure_fee" jdbcType="DECIMAL" property="procedureFee" />
    <result column="pricipal" jdbcType="DECIMAL" property="pricipal" />
    <result column="item_payment" jdbcType="DECIMAL" property="itemPayment" />
    <result column="phone_number" jdbcType="VARCHAR" property="phoneNumber" />
    <result column="need_reply" jdbcType="CHAR" property="needReply" />
    <result column="contact_name" jdbcType="VARCHAR" property="contactName" />
    <result column="contact_gender" jdbcType="CHAR" property="contactGender" />
    <result column="contact_info_1" jdbcType="VARCHAR" property="contactInfo1" />
    <result column="contact_info_2" jdbcType="VARCHAR" property="contactInfo2" />
    <result column="contact_info_3" jdbcType="VARCHAR" property="contactInfo3" />
    <result column="approve_amt" jdbcType="DECIMAL" property="approveAmt" />
    <result column="approve_terms" jdbcType="INTEGER" property="approveTerms" />
  </resultMap>

  <select id="countMySql" resultType="java.lang.Integer">

SELECT COUNT(*) FROM app_bill_install  app,xh_tet intall
WHERE app.case_id= intall.case_id


  </select>
</mapper>